.root {
    padding: 24px;
}

.title {
    margin: 0 0 20px;
    font-size: 24px;
}

.section {
    display: grid;
    gap: 16px;
}

.section > *:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
